<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 {{!-- <meta charset="utf-8" /> --}}
 <title>{{{title}}}{{#if author}} by {{{author}}}{{/if}}</title>
 <style>
 p { margin-top: 1em; text-indent: 0em; }

 h1 {margin-top: 1em}
 h2 {margin: 1.5em 0 .75em; text-align: center; font-size: 1.75em;}
 h3 {margin: 0 0 1.5em; font-weight: normal; text-align:center; font-size: 1.25em; font-style: italic;}

 .center { text-align: center; }
 .pagebreak { page-break-before: always; }
  </style>
{{!--  <link rel="stylesheet" href="style.css"  type="text/css" /> --}}
</head>
<body>

<div id="toc">
 <h2>
 Table of Contents <br />
 </h2>
 <ul>
{{#each chapters as |chapter|}}
 <li><a href="#ch{{chapter.number}}">{{{chapter.title}}}</a></li>
{{/each}}
 </ul>
</div>
<div class="pagebreak"></div>

{{#each chapters as |ch|}}
  {{> chapter ch}}
  <div class="pagebreak"></div>
{{/each}}

<p><strong>Footnotes</strong></p>
{{#each chapters as |chapter|}}
  <p><strong>{{{chapter.title}}}</strong></p>
  {{#each chapter.footnotes as |footnote|}}
      <p>{{{footnote}}}</p>
  {{/each}}
{{/each}}
</body>
</html>
